# Project 4 -- Chloe Moore

**TA Help:** 
    
**Collaboration:**

## Question 1

In [1]:
library(data.table)
df_deathrec = fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")

round(tapply(df_deathrec$Age, df_deathrec$Sex, mean), digits=2)

    F     M
76.68 70.23

Forgot to load the data.table library at first, but Jupyter kindly reminded me of that when I tried to run it the first time. Took a quick look at Project 3 to refresh how tapply worked, but otherwise pretty straightforward. Rounded to 2 decimals for readability.

## Question 2

In [2]:
library(data.table)
df_groc = fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")

head(tapply(df_groc$SPEND, df_groc$PRODUCT_NUM, sum), 10)

     7     14     20     51     57    154    197    287    293    500
110.43  52.36   2.49   1.29  40.00   2.79 327.23   4.49   4.13   0.50

Added library(data.table) in case kernel died, so I didn't have to run question 1 over and over (it did). Used stackexchange to find out how to ask for the top 10 results when using head(), instead of the default. The stack question was actually a but more involved than what I needed, but I was able to find the information I needed. https://stackoverflow.com/questions/65879503/how-to-print-the-head-first-10-rows-with-only-select-variables-in-r

## Question 3

In [1]:
library(data.table)
df_beer = fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")

scores_by_date = tapply(df_beer$score, df_beer$date, mean)
tail(sort(scores_by_date), 3)

2001-04-26 2001-06-18 2002-01-26
         5          5          5

I don't like nesting methods inside each other too much, so I broke this one up into two lines. The first one created a scores_by_date object, which had all the mean calculations grouped by date. The second line sorted the object and displayed the tail, to show the dates with the highest scores.

## Question 4

In [2]:
# copied and pasted from original question
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")

# pasting city and state together
pair = paste(myDF$CITY, myDF$STATE, sep=", ")

amt_data = tapply(myDF$TRANSACTION_AMT, pair, sum)
tail(sort(amt_data), 20)

   CINCINNATI, OH        DENVER, CO       MIDLAND, TX    WASHINGTOM, DC
          1096983           1183471           1210584           1300341
    GREENWICH, CT         TULSA, OK         MIAMI, FL   SAN ANTONIO, TX
          1340112           1341956           1541867           1583292
     ST LOUIS, MO OKLAHOMA CITY, OK       ATLANTA, GA BEVERLY HILLS, CA
          1639570           1751431           1892356           2053148
SAN FRANCISCO, CA       CHICAGO, IL    WASHINGTON, DC   LOS ANGELES, CA
          2061441           3179470           4273606           4569952
       DALLAS, TX       HOUSTON, TX      NEW YORK, NY                ,
          4748262           7606806          11345027          17299729

Tried to be clever at first and remove the blank entries from city and state columns (as we did before). Then I got the error that the arguments had to be the same length, which made sense. Removed that code and everything run perfectly. Again, I split up the methods for my own sanity.

## Question 5

In [1]:
library(data.table)
df_flights = fread("/anvil/projects/tdm/data/flights/subset/1990.csv")

triple = paste(df_flights$Month, df_flights$DayofMonth, df_flights$Year, sep="/")
flight_data = tapply(df_flights$DepDelay, triple, mean, na.rm=TRUE)
round(tail(sort(flight_data), 6), digits=2)

12/20/1990  2/15/1990  2/16/1990 12/28/1990 12/22/1990 12/21/1990
     27.35      28.12      36.19      43.91      45.22      45.66

Similar approach to question 4. Split up the paste, tapply, and tail/sort methods. Forgot to add na.rm=TRUE, so couldn't figure out why it wasn't printing anything for a while. A quick look back at the suggestion in the question put me back on track.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.